{% extends 'teacher/partial/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="page-content">

    <div class="page-container">

        <div class="row">
            <div class="col-12">
                <div class="page-title-head d-flex align-items-sm-center flex-sm-row flex-column">
                    <div class="flex-grow-1">
                        <h4 class="fs-18 fw-semibold m-0">Welcome back, SmartEase Student Portal 👋</h4>
                    </div>
                </div><!-- end card header -->
            </div>
            <!--end col-->
        </div>

        <div class="row row-cols-xxl-5 row-cols-md-3 row-cols-1 align-items-center">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="#!" class="text-muted float-end mt-n1 fs-18"><i class="ti ti-external-link"></i></a>
                        <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">SWE Batch 37 (Section D)</h5>
                        <div class="d-flex align-items-center gap-2 my-3">
                            <div class="avatar-md flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                    <i class="ti ti-users"></i>
                                </span>
                            </div>
                            <h3 class="mb-0 fw-bold">50 <span class="badge text-bg-primary fw-medium ms-2 fs-12">Students</span></h3>
                        </div>
                        <p class="mb-1">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Course Progress</span>
                            <span class="float-end"><span class="badge text-bg-success fw-medium ms-2 fs-12">50%</span></span>
                        </p>
                        <p class="mb-0">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Total Class</span>
                            <span class="float-end"><b>5/10</b></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="#!" class="text-muted float-end mt-n1 fs-18"><i class="ti ti-external-link"></i></a>
                        <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">SWE Batch 38 (Section A)</h5>
                        <div class="d-flex align-items-center gap-2 my-3">
                            <div class="avatar-md flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                    <i class="ti ti-users"></i>
                                </span>
                            </div>
                            <h3 class="mb-0 fw-bold">50 <span class="badge text-bg-primary fw-medium ms-2 fs-12">Students</span></h3>
                        </div>
                        <p class="mb-1">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Course Progress</span>
                            <span class="float-end"><span class="badge text-bg-success fw-medium ms-2 fs-12">10%</span></span>
                        </p>
                        <p class="mb-0">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Total Class</span>
                            <span class="float-end"><b>5/10</b></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="#!" class="text-muted float-end mt-n1 fs-18"><i class="ti ti-external-link"></i></a>
                        <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">SWE Batch 36 (Section B)</h5>
                        <div class="d-flex align-items-center gap-2 my-3">
                            <div class="avatar-md flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                    <i class="ti ti-users"></i>
                                </span>
                            </div>
                            <h3 class="mb-0 fw-bold">50 <span class="badge text-bg-primary fw-medium ms-2 fs-12">Students</span></h3>
                        </div>
                        <p class="mb-1">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Course Progress</span>
                            <span class="float-end"><span class="badge text-bg-success fw-medium ms-2 fs-12">20%</span></span>
                        </p>
                        <p class="mb-0">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Total Class</span>
                            <span class="float-end"><b>5/10</b></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="#!" class="text-muted float-end mt-n1 fs-18"><i class="ti ti-external-link"></i></a>
                        <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">SWE Batch 36 (Section C)</h5>
                        <div class="d-flex align-items-center gap-2 my-3">
                            <div class="avatar-md flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                    <i class="ti ti-users"></i>
                                </span>
                            </div>
                            <h3 class="mb-0 fw-bold">50 <span class="badge text-bg-primary fw-medium ms-2 fs-12">Students</span></h3>
                        </div>
                        <p class="mb-1">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Course Progress</span>
                            <span class="float-end"><span class="badge text-bg-success fw-medium ms-2 fs-12">40%</span></span>
                        </p>
                        <p class="mb-0">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Total Class</span>
                            <span class="float-end"><b>5/10</b></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="#!" class="text-muted float-end mt-n1 fs-18"><i class="ti ti-external-link"></i></a>
                        <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">SWE Batch 36 (Section D)</h5>
                        <div class="d-flex align-items-center gap-2 my-3">
                            <div class="avatar-md flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                    <i class="ti ti-users"></i>
                                </span>
                            </div>
                            <h3 class="mb-0 fw-bold">50 <span class="badge text-bg-primary fw-medium ms-2 fs-12">Students</span></h3>
                        </div>
                        <p class="mb-1">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Course Progress</span>
                            <span class="float-end"><span class="badge text-bg-success fw-medium ms-2 fs-12">40%</span></span>
                        </p>
                        <p class="mb-0">
                            <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Total Class</span>
                            <span class="float-end"><b>5/10</b></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="d-flex card-header justify-content-between align-items-center border-bottom border-dashed">
                        <h4 class="header-title">Calendar</h4>
                    </div>

                    <div class="card-body">
                        <input type="text" class="form-control d-none" data-provider="flatpickr" data-date-format="d M, Y" data-deafult-date="today" data-inline-date="true">
                    </div> 
                </div> 
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="d-flex card-header justify-content-between align-items-center border-bottom border-dashed">
                        <h4 class="header-title">Class Contents</h4>
                    </div>

                    <div class="card-body">
                        <div class="row align-items-center g-3">
                            <div class="col-xxl-4 col-md-6">
                                <div class="bg-light bg-opacity-50 rounded-3 p-3">
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="https://e7.pngegg.com/pngimages/970/432/png-clipart-scholarship-baresan-university-computer-icons-school-invest-education-scholarship-baresan-university.png" alt="user-image" class="me-1 avatar-xl rounded-circle">
                                        <div>
                                            <h4>Model Evaluation</h4>
                                            <p class="text-muted">Machine Learning</p>
                                            <p class="text-muted">SWE 37 batch (Section - D)</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="bg-light bg-opacity-50 rounded-3 p-3">
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="https://e7.pngegg.com/pngimages/970/432/png-clipart-scholarship-baresan-university-computer-icons-school-invest-education-scholarship-baresan-university.png" alt="user-image" class="me-1 avatar-xl rounded-circle">
                                        <div>
                                            <h4>Model Evaluation</h4>
                                            <p class="text-muted">Machine Learning</p>
                                            <p class="text-muted">SWE 37 batch (Section - D)</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="bg-light bg-opacity-50 rounded-3 p-3">
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="https://e7.pngegg.com/pngimages/970/432/png-clipart-scholarship-baresan-university-computer-icons-school-invest-education-scholarship-baresan-university.png" alt="user-image" class="me-1 avatar-xl rounded-circle">
                                        <div>
                                            <h4>Model Evaluation</h4>
                                            <p class="text-muted">Machine Learning</p>
                                            <p class="text-muted">SWE 37 batch (Section - D)</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-3">
                            <a href="#" class="btn btn-sm btn-primary">See All Contents <i class="ti ti-arrow-right ms-1"></i></a>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> 
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="d-flex card-header justify-content-between align-items-center">
                        <h4 class="header-title">Active Class Attendance </h4>
                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                        <button type="button" class="btn btn-primary position-relative">
                            SWE 37 batch - D
                        </button>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover table-nowrap table-custom table-centered m-0">
                                <thead class="bg-light bg-opacity-50 thead-sm">
                                    <tr class="text-uppercase fs-12">
                                        <th class="text-muted">SL #</th>
                                        <th class="text-muted">Name</th>
                                        <th class="text-muted">ID</th>
                                        <th class="text-muted">Entry Time</th>
                                        <th class="text-muted">Status</th>
                                        <th class="text-muted">•••</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#1</td>
                                        <td><a href="#" class="link-reset fw-medium">Rifat</a></td>
                                        <td>221-35-936</td>
                                        <td>15 Aug, 2024 <small class="text-muted">09:00 AM</small></td>
                                        <td><span class="badge bg-success-subtle text-success p-1">Present</span></td>
                                        <td>
                                            <a href="javascript: void(0);" class="text-muted fs-20"> <i class="ti ti-edit"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#2</td>
                                        <td><a href="#" class="link-reset fw-medium">Robert Walker</a></td>
                                        <td>221-35-936</td>
                                        <td>-</td>
                                        <td><span class="badge bg-danger-subtle text-danger p-1">Absent</span></td>
                                        <td>
                                            <a href="javascript: void(0);" class="text-muted fs-20"> <i class="ti ti-edit"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- container -->


    <!-- Footer Start -->
    <footer class="footer">
        <div class="page-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-md-end footer-links d-none d-md-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>
{% endblock content %}